<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
  <title>Responsive Preview</title>
  <style>
    body {
      font-family: HelveticaNeue, Arial;
      background-color: #000000;
      color: #efefef;
      text-align: center;
      font-size: 18px;
    }

    a,
    a:visited {
      cursor: pointer;
      text-decoration: none;
      color: #efefef;
      border-bottom: solid 1px #efefef;
    }

    a:hover, a:active {
      color: orange;
      border-bottom: solid 1px orange;
    }

    .page-name {
      padding-top: 20px;
      text-align: center;
    }

    .url-input {
      font-size: 30px;
      text-align: center;
      color: orange;
      background-color: #222;
      border-radius: 7px;
      padding: 5px 10px;
      margin-left: 15px;
      min-width: 200px;
      transition-property: width;
      transition-duration: 0.2s;
    }

    .url-input:focus {
      background-color: #efefef;
    }

    .ppi-input {
      font-size: 20px;
      text-align: center;
      border-radius: 5px;
      border: solid 1px gray;
    }

    .ppi-desc {
      font-size: 14px;
    }

    .screen {
      display: inline-block;
      text-align: left;
      vertical-align: top;
      margin: 10px;
      background-color: #222222;
    }

    .screen-transition {
      transition-property: transform;
      transition-duration: 0.2s;
    }

    .screen__name {
      margin: 15px;
      font-size: 20px;

      [data-ppi] & {
        font-size: 26px;
      }
    }

    .screen__range {
      float: right;
      padding-top: 3px;
      font-weight: normal;
      font-size: 14px;

      [data-ppi] & {
        font-size: 20px;
      }
    }

    .screen__range .active {
      font-weight: bold;
      text-decoration: none;
    }

    .screen__range-link {
      color: #efefef;
    }

    .screen__scale-tag {
      display: none;
      font-size: 14px;
      padding: 5px 10px;
      margin: 0 10px;
      background-color: gray;
    }

    .scale-link {
      cursor: pointer;
      margin: 0px 10px;
    }
  </style>
</head>
<body>
  <div data-page-name class="page-name">
    <p>Welcome to RWD Preview</p>
    URL <input class='url-input' data-url-input size={{inputSize}} value="{{originalDomain}}{{path}}">
  </div>
  <p>For realistic device scaling, enter monitor's PPI (pixels per inch): &nbsp; <input data-ppi-input class="ppi-input" type="text" size="4"> &nbsp; <span class="ppi-desc"><a data-clear-dpi>Clear scaling</a> - <a href="http://dpi.lv/" target="_blank">Calculator</a></span></p>
  <p class="ppi-desc">Common PPI: &nbsp;
    <a class="scale-link" data-scale-link data-scale-ppi="94">Dell 24" (94)</a> - <a class="scale-link" data-scale-link data-scale-ppi="109">Thunderbolt (109)</a> - <a class="scale-link" data-scale-link data-scale-ppi="113">MacBook Pro 13" (113)</a> - <a class="scale-link" data-scale-link data-scale-ppi="110">MacBook Pro 15" (110)</a>
  </p>
  <p class="ppi-desc">If the url fails to load, use a <a href="https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa">Chrome extension</a> to remove response headers "X-Frame-Options" and "Content-Security-Policy".</p>
  {{#each screens}}
    <div class="screen" style="display: none" {{#if this.ppi}}data-ppi="{{this.ppi}}"{{/if}}>
      <div class="screen__name">{{this.name}}
        <span class="screen__range">
          <a
            data-set-width-link
            data-iframe="{{this.name}}"
            data-width="{{this.minWidth}}"
            data-type="min"
            class="screen__range-link active">
              {{this.minWidth}}
          </a> -
          <a
            data-set-width-link
            data-iframe="{{this.name}}"
            data-width="{{this.maxWidth}}"
            data-type="max"
            class="screen__range-link">
              {{this.maxWidth}}px
          </a>
        </span>
        {{#if this.ppi}}<span class="screen__scale-tag">scaled {{this.ppi}} ppi</span>{{/if}}
      </div>
      <iframe
        src="{{@root.proxyDomain}}{{@root.path}}"
        id="{{this.name}}"
        width="{{this.minWidth}}"
        height="{{this.height}}"
        frameborder="0"
        >
      </iframe>
    </div>
  {{/each}}

  <script src="https://code.jquery.com/jquery-1.11.3.min.js" integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g="
    crossorigin="anonymous"></script>
  <script>
    var $iframes = $('iframe');
    var $urlInput = $('[data-url-input]');
    var $scaledScreens = $('[data-ppi]');
    var $ppiInput = $('[data-ppi-input]');
    var $scaleLinks = $('[data-scale-link]');
    var globalUrl;     // will be set by the first iframe loaded
    var initialFadeIn = false;

    function scaleScreens() {
      var currentPPI = parseInt($ppiInput.val(), 10);
      if (isNaN(currentPPI)) {
        currentPPI = null;
      }
      $scaledScreens.each(function(i, elem) {
        var $elem = $(elem);
        var scale = 1;
        var margin = '10px';

        if (currentPPI) {
          scale = (currentPPI / parseInt($elem.data('ppi'), 10)).toFixed(2);
          if (scale < 1) {
            margin = '-' + (Math.round(100 - (scale * 100)) + 20) + 'px';
          } else {
            margin = (scale * 100) + 'px';
          }
        }

        $elem.css({transform: 'scale(' + scale + ',' + scale + ')', margin: margin});
        $elem.find('.screen__scale-tag').css({display: (scale === 1 ? 'none' : 'inline-block')});
        setTimeout(function() {
          $elem.addClass('screen-transition'); // transition on subsequent scales
        }, 1000);
      });
    }

    function loadIframes(url) {
      $iframes.each(function(index, iframe) {
        if (iframe.contentWindow.location.href !== url) {
          iframe.contentWindow.location = url;
        }
      });
    }

    $ppiInput.keydown(function(e) {
      if (e && e.which === 13) {
        scaleScreens();
      }
    });

    // on keyup catches backspace
    $urlInput.on('keyup keydown', function(e) {
      var url = this.value;

      if (e && e.which === 13) {
        window.location.href = '/preview?url=' + url;
        return;
      }
      this.size = Math.max(1, url.length); // can't be 0
    });

    $('[data-clear-dpi]').click(function() {
      $ppiInput.val('');
      scaleScreens();
    });

    $scaleLinks.click(function() {
      var ppi = $(this).data('scale-ppi');
      $ppiInput.val(ppi);
      scaleScreens();
    });

    // pixel links
    $('[data-set-width-link]').click(function() {
      var $this = $(this);
      var width = $this.data('width');
      var iframeId = $this.data('iframe');
      var minOrMax = $this.data('type');

      $('#' + iframeId).attr('width', width);
      $('[data-set-width-link][data-type="min"]').toggleClass('active', minOrMax === 'min');
      $('[data-set-width-link][data-type="max"]').toggleClass('active', minOrMax === 'max');
    });

    // iframe loading, refreshes other iframes as the user navigates within one
    $iframes.on('load', function() {
      // when first iframe loads, frame all frames in
      if (!initialFadeIn) {
        initialFadeIn = true;
        $scaledScreens.fadeIn(1000);
      }

      try {
        var thisFrameUrl = this.contentWindow.location.href;
      } catch(e) {
        // blocked cross origin
        return;
      }
      var isNewUrl = globalUrl && thisFrameUrl !== globalUrl;

      if (!globalUrl || isNewUrl) {
        globalUrl = thisFrameUrl;

        // update global page name
        var inputVal = '{{@root.originalDomain}}' + this.contentWindow.location.pathname;
        $urlInput.val(inputVal).trigger('keydown'); // keypress to set input width

        // change url of other iframes
        if (isNewUrl) {
          loadIframes(thisFrameUrl);
        }
      }
    });

    // trigger default ppi of 94
    $ppiInput.val('94');
    scaleScreens();
  </script>
</body>
</html>
